<?xml version="1.0"?>
<launch>
	<node pkg="mocap_optitrack"  type="mocap_node" name="mocap_node" respawn="false" launch-prefix="" required="true">
    	<rosparam file="$(find mocap_optitrack)/config/m.yaml" command="load" />
  	</node>

	<group ns="robot1">
		<param name="tf_prefix" value="robot1_tf" />
		<include file="$(find ram)/launch/m_single.launch">
			<arg name="ip" value="192.168.1.10" />
			<arg name="robot_name" value="James" />
			<arg name="x" value="-0.4" />
			<arg name="y" value="0.6" />
			<arg name="z" value="1.2" />
			<arg name="yaw" value="0" />
		</include>
	</group>

	<group ns="robot2">
		<param name="tf_prefix" value="robot2_tf" />
		<include file="$(find ram)/launch/m_single.launch">
			<arg name="ip" value="192.168.1.20" />
			<arg name="robot_name" value="James" />
			<arg name="x" value="0.4" />
			<arg name="y" value="-0.6" />
			<arg name="z" value="0.8" />
			<arg name="yaw" value="0" />
		</include>
	</group>

</launch>